.h2_final {
    color: white;
    width: 100%;
    text-align: center;
}

.img_sidebar {
    width: 120px;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 200px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.partido_final {
    width: 70%;
    margin-left: 15%;
}

.tarjeta_partido_final {
    background-color: #252525;
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 12px;
}

.contenedor_foto_final {
    margin-top: -2.2%;
}

.foto_final {
    width: -webkit-fill-available;
    border-radius: 12px;
    margin-bottom: -0.4%;
}

.linea_1_final {
    display: flex;
    text-align: center;
    width: 25%;
    margin-left: 29.05%;
}

.nombre_equipo_local_final {
    color: white;
}

.guion_final {
    color: white;
    margin-left: 23%;
    margin-right: 23%;
}

.nombre_equipo_visitante_final {
    color: white;
}

.contenedor_resultado_final {
    display: flex;
    margin-top: -3%;
}

.resultado_local_final {
    color: white;
    font-size: 50px;
    font-weight: 600;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 36.5%;
}

.resultado_visitante_final {
    color: white;
    font-size: 50px;
    font-weight: 600;
    margin-left: 21%;
    margin-top: 2%;
    margin-bottom: 1%;
}

.contenedor_icono_balon_final {
    text-align: -webkit-center;
}

.icono_balon_final {
    width: 50px;
    height: 50px;
}

.goles_final {
    display: flex;
    margin-top: -2%;
}

.goles_locales_final {
    margin-left: 27%;
}

.gol_local_final {
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.linea_abajo_final {
    display: ruby-text;
    margin-bottom: -1.5%;
}

.icono_youtube_final {
    width: 30px;
    margin-bottom: -0.5%;
}

.fecha_final {
    color: white;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 600;
    opacity: 35%;
}

/* Estilos para el fondo difuminado */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 1002;
}

/* Estilos para la ventana modal */
.modal {
    border: 1px solid #55cca2;
    background-color: #252525;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
    width: 100%;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    z-index: 1002;
}

/* Animación para mostrar la ventana modal */
.modal.show {
    transform: translateY(0);
    opacity: 1;
}

.span_modal {
    color: white;
    font-size: 20px;
}

.input_modal {
    color: white;
    background-color: #404040;
    border: 1px solid #55cca2;
    border-radius: 12px;
    padding: 7px;
    margin-top: 0.5%;
    margin-bottom: 1%;
}

.boton_iniciar {
    color: white;
    font-size: 16px;
    border: 1px solid #55cca2;
    background-color: #55cca2;
    border-radius: 12px;
    padding: 7px;
    margin-top: 3%;
    width: 36%;
}

.boton_iniciar button:hover {
    border: 1px solid #55cca2;
    background-color: #55cca2;

}

.boton_modal {
    border: 1px solid #55cca2;
    margin-top: 1.4%;
    padding: 7px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(69, 69, 69);
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 12%;
    width: 36%;
}

.close-btn {
    margin-top: 1.4%;
    padding: 7px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(219, 44, 41);
    color: white;
    border: none;
    border-radius: 10px;
    float: right;
}

.boton_modal_registrar {
    border: 1px solid #55cca2;
    margin-top: 1.4%;
    padding: 7px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(69, 69, 69);
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 0%;
    width: 36%;
}

.close-btn_registrar {
    margin-top: -6.4%;
    padding: 7px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(223, 5, 3);
    color: white;
    border: none;
    border-radius: 10px;
    float: right;
}

.close-btn_seleccion {
    text-decoration: none;
    margin-top: -2%;
    margin-left: 16%;
    background-color: #55cca2;
    padding: 10px;
    border-radius: 10px;
    color: white;
}